/*****************************************************************/
/** Java2 policy for JAZN/OC4J                                  **/
/**                                                             **/
/** INSTRUCTIONS                                                **/
/** - set ${oracle.ons.oraclehome} to your $ORACLE_HOME         **/
/**   this is automatically set by OPMN                         **/
/** - set ${localhost.ip} to your OC4J machine's IP address     **/
/** - set ${oidhost.ip} to your Oid machine's IP address        **/
/*****************************************************************/

/* JAAS */
grant codebase "file:${java.home}/jre/lib/ext/jaas.jar" {
    permission java.security.AllPermission;
};

/* JAAS Login Modules */
grant codebase "file:${java.home}/jre/lib/ext/jaasmod.jar" {
    permission java.security.AllPermission;
};

/* JAZN */
grant codebase "file:${oracle.ons.oraclehome}/j2ee/home/jazn.jar" {
    permission java.security.AllPermission;
};

/* OC4J */
grant codebase "file:${oracle.ons.oraclehome}/j2ee/home/oc4j.jar" {
    permission java.security.AllPermission;
};

/* DMS - J2EE */
grant codebase "file:${oracle.ons.oraclehome}/lib/dms.jar" {
    permission java.security.AllPermission;
};

/* DMS - IAS */
grant codebase "file:${oracle.ons.oraclehome}/dms/lib/dms.jar" {
    permission java.security.AllPermission;
};

/* ONS */
grant codebase "file:${oracle.ons.oraclehome}/opmn/lib/ons.jar" {
    permission java.security.AllPermission;
};

/* JDBC */
grant codebase "file:${oracle.ons.oraclehome}/jdbc/lib/classes12.jar" {
    permission java.security.AllPermission;
};

/* OJSP */
grant codebase "file:${oracle.ons.oraclehome}/j2ee/home/lib/ojsp.jar" {
    permission java.security.AllPermission;
};

/* tools.jar - for compiling JSPs */
grant codebase "file:${oracle.ons.oraclehome}/j2ee/home/tools.jar" {
    permission java.security.AllPermission;
};

/* J2EE/home */
grant codebase "file:${oracle.ons.oraclehome}/j2ee/home/-" {

   /* DMS grants */
   permission java.io.FilePermission       "${oracle.ons.oraclehome}/j2ee/-", "write,delete"; 
   permission java.util.PropertyPermission "oracle.*", "read,write"; 
   permission java.util.PropertyPermission "java.protocol.handler.pkgs", "read,write"; 
   permission java.util.PropertyPermission "transaction.log", "read";
   permission java.lang.RuntimePermission  "createClassLoader";
   permission java.lang.RuntimePermission  "setContextClassLoader";
   permission java.util.PropertyPermission "http.singlethreaded.maxsize", "read";
   permission java.util.PropertyPermission "*", "read,write";

   /* Default Grants to get things going */
   permission java.security.SecurityPermission "*"; 
   permission java.io.FilePermission "<<ALL FILES>>", "read";
   permission java.lang.RuntimePermission "getProtectionDomain";
   permission java.lang.RuntimePermission "getClassLoader";	
   permission java.lang.RuntimePermission "loadLibrary.ldapjclnt9";	
   permission javax.security.auth.AuthPermission "createLoginContext";
   permission javax.security.auth.AuthPermission "doAs";
   permission javax.security.auth.AuthPermission "doAsPrivileged";
   permission javax.security.auth.AuthPermission "getSubject";	
   permission javax.security.auth.AuthPermission "getSubjectFromDomainCombiner";	
   permission javax.security.auth.AuthPermission "getLoginConfiguration";
   permission javax.security.auth.AuthPermission "getPolicy";
   permission javax.security.auth.AuthPermission "modifyPrincipals";
   permission java.util.PropertyPermission "java.home", "read";	
   permission java.util.PropertyPermission "user.home", "read";
   permission java.util.PropertyPermission "user.dir", "read,write";
   permission java.util.PropertyPermission "java.security.auth.policy", "read,write";
   permission java.net.SocketPermission "*.us.oracle.com", "accept,resolve";
   permission java.net.SocketPermission "127.0.0.1", "accept,connect,resolve"; 
   permission java.net.SocketPermission "${localhost.ip}", "accept,connect,resolve";
   permission java.net.SocketPermission "${oidhost.ip}", "accept,connect,resolve";  

   /* JAZN Permissions */
   permission oracle.security.jazn.JAZNPermission "getCredentials";
   permission oracle.security.jazn.JAZNPermission "setCredentials";
   permission oracle.security.jazn.JAZNPermission "getClearCredentials";
   permission oracle.security.jazn.JAZNPermission "setClearCredentialsNoCheck";
   permission oracle.security.jazn.JAZNPermission "getProperty.*";
   permission oracle.security.jazn.JAZNPermission "getPolicy";
   permission oracle.security.jazn.JAZNPermission "getRealmManager";
   permission oracle.security.jazn.policy.AdminPermission "java.io.FilePermission$/tmp/*$read,write";
   permission oracle.security.jazn.policy.AdminPermission "java.io.FilePermission$/teams/jazn/*$read,write";
   permission oracle.security.jazn.policy.AdminPermission "oracle.security.jazn.realm.RealmPermission$*$createRealm,dropRealm,createRole,dropRole,modifyRealmMetaData";
   permission oracle.security.jazn.realm.RealmPermission "*", "createRealm";
   permission oracle.security.jazn.realm.RealmPermission "*", "dropRealm";	
   permission oracle.security.jazn.realm.RealmPermission "*", "createRole";
   permission oracle.security.jazn.realm.RealmPermission "*", "dropRole";
   permission oracle.security.jazn.realm.RealmPermission "*", "modifyRealmMetaData";
   permission oracle.security.jazn.policy.RoleAdminPermission "*";
   permission oracle.security.jazn.policy.AdminPermission "oracle.security.jazn.policy.RoleAdminPermission$*"; 	
};


